/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.title_h1 {
    font-size: 25px; /* Adjust this size to match the mockup */
    color: #f4a30e; /* Change this color to match the mockup */
    font-weight: bold; /* Use 'normal', 'bold', 'bolder', or an actual weight like '600' */
    margin-bottom: 0.5em; /* Adjust spacing as needed */
}

.title_h2 {
    font-size: 40px; /* Adjust this size to match the mockup */
    color: #555; /* Change this color to match the mockup */
    font-weight: normal; /* Adjust as needed */
    margin-bottom: 1em; /* Adjust spacing as needed */
}

.logo {
    width: 90%; /* Adjust based on your actual logo size */
    margin-bottom: 5%;
    height: auto;
}

.menu-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    margin: auto;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: start; /* Align items to the start of the container */
    margin-bottom: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    overflow: hidden; /* Prevents content from spilling out */
}


.menu-image {
    flex-shrink: 0; /* Prevents the image from shrinking */
    width: 90%; /* Fixed width for the image, adjust as needed */
    /* height: 100px; */
    border-radius: 5px;
    margin-right: 5px;
    /* padding-top: 90%; */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex-grow: 1; /* Allows the container to grow to fill the space */
}

.menu-title {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: left;
}


.menu-description {
    margin-bottom: 0.5em;
    text-align: left;
}

.item-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    /* Aligns the price to the left */
    text-align: left;
}

.add-btn {
    /* Aligns the button to the right */
    margin-left: auto; /* Pushes the button to the right */
    background-color: #a6ada6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 0.5em;
    text-align: right;
}

.btn {
    background-color: #a6ada6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 0.5em;
    text-align: right;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .menu-item {
        flex-wrap: nowrap; /* Prevents wrapping of items */
    }

    .menu-image {
        width: 100%; /* Smaller width for the image on mobile */
    }

    .text-container {
        /* Adjust the margin or padding as needed for smaller screens */
        margin-left: 10px;
    }
    
    .price, .title_h1, .logo {
        font-size: smaller; /* Adjust the font size for smaller screens */
    }

    .add-btn {
        padding: 5px 10px;
    }

    .menu-description {
        font-size: 0.8em;
    }

    .menu-title {
        font-weight: bold;
        font-size: 1em;
    }

    .title_h2 {
        font-size: 20px;
    }
}


