/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.menu-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    margin: auto;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #f9f9f9;
    border-radius: 5px;
}

.menu-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    /* margin-right: 10px; */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.menu-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.menu-description {
    margin-bottom: 0.5em;
}

.price {
    font-weight: bold;
    display: block;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu-item {
        /* flex-direction: column; */
        text-align: center;
        flex-direction: row;
    }

    .menu-image {
        margin-right: 20px; /* Add spacing between image and text */
    }

    .menu-title, .menu-description, .price, .btn {
        flex: 1;
        text-align: left;
    }
}

/* Adjustments for larger screens can also be added if needed */
@media (min-width: 60px) {
    .menu-item {
        flex-direction: row;
    }
}